n8n/workflows/01_market_research.json
{
  "name": "CourseForge — Market Research Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "courseforge/market_research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['courseId', 'userId', 'niche'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length > 0) throw new Error('Missing: ' + missing.join(', '));\nreturn [{ json: { ...body, __retryCount: 0 } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/execute-agent-workflow",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "courseId",
              "value": "={{ $json.courseId }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "niche",
              "value": "={{ $json.niche }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-edge-function",
      "name": "Call Edge Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_logs",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "course_id",
              "value": "={{ $(\"Validate Input\").first().json.courseId }}"
            },
            {
              "name": "agent_name",
              "value": "n8n_market_research_workflow"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "output",
              "value": "={{ JSON.stringify({ nextStatus: $json.nextStatus, summary: $json.summary }) }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "audit-log-success",
      "name": "Audit Log — Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, courseId: $(\"Validate Input\").first().json.courseId, nextStatus: $(\"Call Edge Function\").first().json.nextStatus }) }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const attempt = $json.__retryCount || 0;\nif (attempt >= 3) throw new Error('Max retries exceeded');\nreturn [{ json: { ...$json, __retryCount: attempt + 1 } }];"
      },
      "id": "retry-guard",
      "name": "Retry Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        500
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.pow(2, ($json.__retryCount || 1) - 1) * 1000 }}",
        "unit": "milliseconds"
      },
      "id": "exponential-backoff",
      "name": "Exponential Backoff",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_logs",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "course_id",
              "value": "={{ $(\"Validate Input\").first().json.courseId }}"
            },
            {
              "name": "agent_name",
              "value": "n8n_market_research_workflow"
            },
            {
              "name": "status",
              "value": "dead_letter"
            },
            {
              "name": "error",
              "value": "={ \"message\": \"Max retries exceeded after 3 attempts\" }"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "dead-letter-queue",
      "name": "Dead Letter Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1600,
        700
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 500,
        "responseBody": "={{ JSON.stringify({ error: \"Agent failed after max retries\", courseId: $(\"Validate Input\").first().json.courseId }) }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1800,
        700
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Edge Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Edge Function": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Audit Log — Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log — Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Guard": {
      "main": [
        [
          {
            "node": "Exponential Backoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dead Letter Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exponential Backoff": {
      "main": [
        [
          {
            "node": "Call Edge Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dead Letter Queue": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "courseforge-error-handler"
  },
  "staticData": null,
  "tags": [
    "courseforge",
    "market_research"
  ],
  "pinData": {}
}